{% extends 'main/index.html' %}
{% block content %}
{% load image_resize %}
{% load check_empty %}

<script>
    console.log("{{posts|length}}")
</script>

{% if not posts %}
<div class="article nocont">
<p>게시물이 존재하지 않습니다.</p>
</div>
{% else %}
    {% for p in posts %}
    <div class="article">
        {% if p.first_image %}
        <img src="{{ p.first_image.url }}" alt="" width="{{p.first_image.width|change_size}}" height="{{p.first_image.height|change_size}}">
        {% endif %}
        {%for text_num in p.textrow.all%}
            {% if text_num|check_empty %}
            <div class="txt_row">
                <div>{{text_num.paragraph_1|safe|linebreaksbr}}</div>
                <div>{{text_num.paragraph_2|safe|linebreaksbr}}</div>
                <div>{{text_num.paragraph_3|safe|linebreaksbr}}</div>
                <div>{{text_num.paragraph_4|safe|linebreaksbr}}</div>
            </div>
            {% else %}
            <div class="empty_row">
            </div>
            {% endif %}
            {% for img in text_num.images.all %}
            <img src="{{ img.image.url }}" alt="" width="{{img.image.width|change_size}}" height="{{img.image.height|change_size}}">
            <script>
                console.log("{{ img.image.url }}")
            </script>
            {% endfor %}
        {% endfor %}
    </div>
    <hr></hr>
    {% endfor %}
{% endif %}
{% endblock %}
