<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGKM</title>
</head>
<nav>
    <a href="/profile/">Profile</a>
    <a href="/contact/">Contact</a>

</nav>
<body>
    {% for p in posts %}
    <hr/>
    <div><pre>{{p.paragraph_1}}</pre></div>
    <div><pre>{{p.paragraph_2}}</pre></div>
    <img src="{{ p.first_image.url }}" alt="">
        {% for img in p.images.all %}
        <img src="{{ img.image.url }}" alt="">
        <script>console.log("{{ img.image.url }}")</script>
        {% endfor %}
    <div><pre>{{p.paragraph_3}}</pre></div>
    <div><pre>{{p.paragraph_4}}</pre></div>
    {% endfor %}
</body>
</html>