<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGKM</title>
</head>
<nav>
    <a href="/profile/">Profile</a>
    <a href="/contact/">Contact</a>

</nav>
<body>
    {% for p in posts %}
    <hr/>
    <h2>{{p.title}}</h2>
        {% for img in p.images.all %}
        <img src="{{ img.image.url }}" alt="">
        <script>console.log("{{ img.image.url }}")</script>
        {% endfor %}


    <p>{{p.content}}</p>
    {% endfor %}
</body>
</html>