{% extends 'main/index.html' %}
{% block content %}
{% load urlize_extra %}
{% if not posts %}
<p>게시물이 존재하지 않습니다.</p>
{% else %}
<div class=container>

    {% for p in posts %}

    <div class="article">
        <div class="txt_title">{{p.title}}</div>
        {% if p.first_image %}
        <img src="{{ p.first_image.url }}" alt="">
        {% endif %}
        {%for text_num in p.textrow.all%}
        <div class="txt_row">
            <div>{{text_num.paragraph_1|add_link|safe|linebreaksbr}}</div>
            <div>{{text_num.paragraph_2|add_link|safe|linebreaksbr}}</div>
            <div>{{text_num.paragraph_3|add_link|safe|linebreaksbr}}</div>
            <div>{{text_num.paragraph_4|add_link|safe|linebreaksbr}}</div>
        </div>
        {% for img in text_num.images.all %}
        <img src="{{ img.image.url }}" alt="">
        <script>
            console.log("{{ img.image.url }}")
        </script>
        {% endfor %}
        {% endfor %}

        <hr />
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
